:host {
  padding: 16px;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 8px;

  h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.5rem;
    line-height: 30px;
  }

  span {
    color: lightslategray
  }
}
