:host {
  font-family: sans-serif;
}

header {
  border-bottom: 1px solid #e3e3e3;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 1px solid #e3e3e3;
  padding: 16px;
  @media (min-width: 1200px) {
    padding: 32px;
  }
}

.store-filter {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  input {
    border: 1px solid #9e9e9e;
    border-radius: 32px;
    cursor: text;
    font-size: 1rem;
    line-height: 2.625rem;
    padding: 0 16px;
    position: relative;
    margin-left: 16px;
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }
}
