<header>
  <img src="/assets/logo.svg" height="44" width="150" />
  <div class="store-filter">
    Filter:
    <!--
    Didn't have a component ready or this one. Also didn't want to throw in a UI module or something.
    For this task i will accept the flaws in A11y and CSS
  -->
    <input
      type="text"
      list="stores"
      placeholder="City"
      (change)="onStoreChange($event)"
    />
    <datalist id="stores">
      <option *ngFor="let city of cities$ | async">{{ city }}</option>
    </datalist>
  </div>
</header>
<main>
  <jumbo-angular-store-list *ngIf="stores$ | async as stores" [stores]="stores"></jumbo-angular-store-list>
</main>
