:host {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;
  padding: 16px;

  @media (min-width: 800px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 1200px) {
    gap: 32px;
    padding: 32px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
